In [1]:
import requests
import pandas as pd

## holo

In [2]:
df = pd.read_html('http://coinmarketcap.com/currencies/holo/')
dfV = pd.DataFrame(df)

df_hot = dfV.loc[0,0]
df_hot

                     0                      1
0           Holo Price               $0.01134
1      Price Change24h        $0.00115911.38%
2   24h Low / 24h High      $0.01006 /$0.0116
3    Trading Volume24h  $246,036,269.5832.31%
4  Volume / Market Cap                 0.1256
5     Market Dominance                  0.09%
6          Market Rank                    #63

## shib

In [3]:
df = pd.read_html('http://coinmarketcap.com/currencies/shiba-inu/')
dfV = pd.DataFrame(df)

df_shib = dfV.loc[0,0]
df_shib

                     0                        1
0      SHIBA INU Price             $0.000008458
1      Price Change24h       $0.00000035694.41%
2   24h Low / 24h High  $0.00000801 /$0.0000086
3    Trading Volume24h     $390,027,238.914.14%
4  Volume / Market Cap                   0.1168
5     Market Dominance                    0.16%
6          Market Rank                      #42

## bitcoin

In [4]:
df = pd.read_html('http://coinmarketcap.com/currencies/bitcoin/')
dfV = pd.DataFrame(df)

df_btc = dfV.loc[0,0]
df_btc

                     0                        1
0        Bitcoin Price               $48,635.03
1      Price Change24h           $2,888.796.31%
2   24h Low / 24h High   $45,442.83 /$48,948.03
3    Trading Volume24h  $35,317,001,830.042.65%
4  Volume / Market Cap                  0.03864
5     Market Dominance                   43.74%
6          Market Rank                       #1

## eth

In [5]:
df = pd.read_html('http://coinmarketcap.com/currencies/ethereum/')
dfV = pd.DataFrame(df)

df_eth = dfV.loc[0,0]
df_eth

                     0                        1
0       Ethereum Price                $3,265.86
1      Price Change24h             $199.446.50%
2   24h Low / 24h High     $3,032.90 /$3,298.25
3    Trading Volume24h  $19,791,327,938.184.06%
4  Volume / Market Cap                  0.05171
5     Market Dominance                   18.35%
6          Market Rank                       #2

## XRP

In [6]:
df = pd.read_html('http://coinmarketcap.com/currencies/xrp/')
dfV = pd.DataFrame(df)

df_xrp = dfV.loc[0,0]
df_xrp

                     0                        1
0            XRP Price                    $1.27
1      Price Change24h            $0.116910.18%
2   24h Low / 24h High             $1.13 /$1.29
3    Trading Volume24h  $7,608,820,898.7719.58%
4  Volume / Market Cap                   0.1294
5     Market Dominance                    2.82%
6          Market Rank                       #6

## Neo

In [7]:
df = pd.read_html('http://coinmarketcap.com/currencies/neo/')
dfV = pd.DataFrame(df)

df_neo = dfV.loc[0,0]
df_neo

                     0                      1
0            Neo Price                 $55.76
1      Price Change24h             $4.568.91%
2   24h Low / 24h High         $50.91 /$56.63
3    Trading Volume24h  $511,178,756.1228.68%
4  Volume / Market Cap                   0.13
5     Market Dominance                  0.19%
6          Market Rank                    #37

## Neo Gas

In [8]:
df = pd.read_html('http://coinmarketcap.com/currencies/gas/')
dfV = pd.DataFrame(df)

df_gas = dfV.loc[0,0]
df_gas

                     0                     1
0            Gas Price                $10.04
1      Price Change24h          $0.53525.63%
2   24h Low / 24h High         $9.48 /$10.10
3    Trading Volume24h  $27,435,980.1613.36%
4  Volume / Market Cap                0.2697
5     Market Dominance                 0.00%
6          Market Rank                  #373

## VeChain

In [9]:
df = pd.read_html('http://coinmarketcap.com/currencies/Vechain/')
dfV = pd.DataFrame(df)

df_vet= dfV.loc[0,0]
df_vet

                     0                        1
0        VeChain Price                  $0.1344
1      Price Change24h           $0.0136711.32%
2   24h Low / 24h High         $0.1187 /$0.1377
3    Trading Volume24h  $1,275,880,192.0317.60%
4  Volume / Market Cap                   0.1476
5     Market Dominance                    0.41%
6          Market Rank                      #22

## IOST

In [10]:
df = pd.read_html('http://coinmarketcap.com/currencies/iostoken/')
dfV = pd.DataFrame(df)

df_iost = dfV.loc[0,0]
df_iost

                     0                     1
0           IOST Price              $0.03236
1      Price Change24h        $0.0020026.59%
2   24h Low / 24h High    $0.03012 /$0.03297
3    Trading Volume24h  $84,666,626.5656.73%
4  Volume / Market Cap                 0.159
5     Market Dominance                 0.03%
6          Market Rank                  #123

## Stellar

In [11]:
df = pd.read_html('http://coinmarketcap.com/currencies/stellar/')
dfV = pd.DataFrame(df)

df_xlm = dfV.loc[0,0]
df_xlm

                     0                      1
0        Stellar Price                  $0.38
1      Price Change24h          $0.026917.62%
2   24h Low / 24h High       $0.3479 /$0.3873
3    Trading Volume24h  $828,878,441.4321.35%
4  Volume / Market Cap                0.09258
5     Market Dominance                  0.43%
6          Market Rank                    #20

## Eth Classic

In [12]:
df = pd.read_html('http://coinmarketcap.com/currencies/ethereum-classic/')
dfV = pd.DataFrame(df)

df_etc = dfV.loc[0,0]
df_etc

                        0                        1
0  Ethereum Classic Price                   $69.13
1         Price Change24h               $5.067.90%
2      24h Low / 24h High           $63.25 /$69.88
3       Trading Volume24h  $3,379,491,377.3118.82%
4     Volume / Market Cap                   0.3787
5        Market Dominance                    0.43%
6             Market Rank                      #21

## MRPH Morpheus Network

In [13]:
df = pd.read_html('http://coinmarketcap.com/currencies/morpheus-network/')
dfV = pd.DataFrame(df)

df_mrph = dfV.loc[0,0]
df_mrph

                        0                  1
0  Morpheus.Network Price              $1.65
1         Price Change24h        $0.2114.61%
2      24h Low / 24h High       $1.43 /$1.67
3       Trading Volume24h  $975,397.4351.67%
4     Volume / Market Cap            0.01255
5        Market Dominance              0.00%
6             Market Rank               #434

## Litecoin

In [14]:
df = pd.read_html('http://coinmarketcap.com/currencies/litecoin/')
dfV = pd.DataFrame(df)

df_ltc = dfV.loc[0,0]
df_ltc

                     0                        1
0       Litecoin Price                  $181.37
1      Price Change24h              $10.876.38%
2   24h Low / 24h High         $168.90 /$183.83
3    Trading Volume24h  $1,945,181,212.2510.36%
4  Volume / Market Cap                   0.1607
5     Market Dominance                    0.58%
6          Market Rank                      #14

## akita

In [15]:
df = pd.read_html('http://coinmarketcap.com/currencies/akita-inu/')
dfV = pd.DataFrame(df)

df_akita = dfV.loc[0,0]
df_akita

                     0                         1
0      Akita Inu Price              $0.000001348
1      Price Change24h       $0.000000167214.16%
2   24h Low / 24h High  $0.00000117 /$0.00000137
3    Trading Volume24h      $11,332,272.6728.34%
4  Volume / Market Cap                   No Data
5     Market Dominance                   No Data
6          Market Rank                     #2649

## leash

In [92]:
df = pd.read_html('http://coinmarketcap.com/currencies/doge-killer/')
dfV = pd.DataFrame(df)

df_leash = dfV.loc[0,0]
df_leash

                     0                    1
0    Doge Killer Price            $1,007.25
1      Price Change24h          $73.307.85%
2   24h Low / 24h High   $834.23 /$1,084.64
3    Trading Volume24h  $7,183,751.6495.18%
4  Volume / Market Cap              No Data
5     Market Dominance              No Data
6          Market Rank                #2676

In [93]:
df_leash.loc[0, 1]

'$1,007.25'

In [94]:
print(df_leash.dtypes)

0    object
1    object
dtype: object

In [95]:
df_leash[0] = pd.to_numeric(df_leash[1], errors='coerce')
df_leash

    0                    1
0 NaN            $1,007.25
1 NaN          $73.307.85%
2 NaN   $834.23 /$1,084.64
3 NaN  $7,183,751.6495.18%
4 NaN              No Data
5 NaN              No Data
6 NaN                #2676

In [96]:
print(df_leash.dtypes)

0    float64
1     object
dtype: object

In [97]:
df_leash.loc[0, 1]

'$1,007.25'

In [104]:
a = df_leash.loc[0, 1]

In [100]:
b=50

In [101]:
a

'$1,007.25'