In [1]:
import requests 
from bs4 import BeautifulSoup as bs

In [2]:
import pandas as pd

import requests 
from bs4 import BeautifulSoup as bs

request = requests.get('http://coinmarketcap.com/')

content = request.content

soup = bs(content, 'html.parser')  

table = soup.findChildren('table')[0]

rows = table.findChildren('tr')

for row in rows:
    cells = row.findChildren('td')
    for cell in cells:
        print (cell.string)

## HOLO

In [3]:


request = requests.get('http://coinmarketcap.com/currencies/holo/')

content = request.content

soup = bs(content, 'html.parser')  

table = soup.findChildren('table')[0]

rows = table.findChildren('tr')

for row in rows:
    cells = row.findChildren('td')
    for cell in cells:
        print (cell.string)

$0.009393
None
None
None
0.1296
None
#69

## Bitcoin

In [4]:


request = requests.get('http://coinmarketcap.com/currencies/bitcoin/')

content = request.content

soup = bs(content, 'html.parser')  

table = soup.findChildren('table')[0]

rows = table.findChildren('tr')

for row in rows:
    cells = row.findChildren('td')
    for cell in cells:
        print (cell.string)

$54,098.48
None
None
None
0.03774
None
#1

## XRP

In [5]:

request = requests.get('http://coinmarketcap.com/currencies/xrp/')

content = request.content

soup = bs(content, 'html.parser')  

table = soup.findChildren('table')[0]

rows = table.findChildren('tr')

for row in rows:
    cells = row.findChildren('td')
    for cell in cells:
        print (cell.string)

$1.07
None
None
None
0.0653
None
#6

## VeChain

## NEO

In [6]:

request = requests.get('http://coinmarketcap.com/currencies/neo/')

content = request.content

soup = bs(content, 'html.parser')  

table = soup.findChildren('table')[0]

rows = table.findChildren('tr')

for row in rows:
    cells = row.findChildren('td')
    for cell in cells:
        print (cell.string)

$45.97
None
None
None
0.09057
None
#50

In [7]:
import requests
import pandas as pd
import io

## holo

In [8]:
df = pd.read_html('http://coinmarketcap.com/currencies/holo/')
df

[                     0                      1
 0           Holo Price              $0.009393
 1      Price Change24h       $-0.00038123.90%
 2   24h Low / 24h High   $0.009362 /$0.009847
 3    Trading Volume24h  $210,507,930.1349.23%
 4  Volume / Market Cap                 0.1296
 5     Market Dominance                  0.07%
 6          Market Rank                    #69,
                           0                       1
 0                Market Cap  $1,623,990,183.743.90%
 1  Fully Diluted Market Cap  $1,668,358,045.643.90%,
                           0                     1
 0    Yesterday's Low / High   $0.009193 /$0.01014
 1  Yesterday's Open / Close  $0.009851 /$0.009681
 2        Yesterday's Change                 1.73%
 3        Yesterday's Volume       $289,945,467.86,
                                           0                     1
 0                          7d Low / 7d High   $0.007835 /$0.01051
 1                        30d Low / 30d High   $0.007403 /$0.01065
 2                        90d Low / 90d High   $0.004334 /$0.01332
 3                52 Week Low / 52 Week High  $0.0004296 /$0.03157
 4  All Time HighApr 05, 2021 (6 months ago)        $0.0315770.25%
 5    All Time LowMar 13, 2020 (2 years ago)    $0.00021894190.36%
 6                                  Holo ROI                 1182%,
                     0                    1
 0  Circulating Supply  172,895,870,443 HOT
 1        Total Supply  177,619,433,541 HOT
 2          Max Supply              No Data]

In [9]:
df = pd.read_html('http://coinmarketcap.com/currencies/holo/')
dfV = pd.DataFrame(df)

dfV

                                                   0
0                       0                      1
...
1                            0                   ...
2                            0                   ...
3                                            0   ...
4                      0                    1
0  ...

In [10]:
df_hot = dfV.loc[0,0]
df_hot

                     0                      1
0           Holo Price              $0.009393
1      Price Change24h       $-0.00038123.90%
2   24h Low / 24h High   $0.009362 /$0.009847
3    Trading Volume24h  $210,507,930.1349.23%
4  Volume / Market Cap                 0.1296
5     Market Dominance                  0.07%
6          Market Rank                    #69

In [11]:
hot = df_hot.loc[0]

In [12]:
hot

0    Holo Price
1     $0.009393
Name: 0, dtype: object

In [13]:
hot.dtypes

dtype('O')

In [14]:
import numpy

In [15]:
hot = df_hot.loc[0,1]
hot

'$0.009393'

In [21]:
df('hot').astype(str).astype(int)

TypeError: 'list' object is not callable